@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Schedule: </dt>
        <dd>
            <p><strong>Start:</strong> @ViewData["start"]</p>
            <p><strong>End:</strong> @ViewData["end"]</p>
            <p><strong>Hourly Rate:</strong> $ @ViewData["payPerHour"]</p>
            <a asp-controller="Manage" asp-action="ChangeSchedule" class="btn-bracketed">Change</a>
        </dd>
    </dl>
</div>
